TABLENAME=Problems
INDEXCOL=Date
DATACOL=Problem
BASEKEY=XXXXXXXXXXX
VIEW=Grid view
MAXRECORDS=100
FMT=YYYY-MM-DD
USERS=U85KT784S,U85N9D3V2
MENSTIONSEP= or 
TEMPLATE=<!channel>: here is the *problem of the day* for today:\n\`\`\`\n$DATA\n\`\`\`\nRemember to hit up $MENTIONS (...or your classmates) to discuss! Goodluck!`,
AIRTABLE_API_KEY=XXXXXXXXXXX
SLACK_WEBHOOK=https://hooks.slack.com/services/XXXXXXXXXXX/XXXXXXXXXXX/XXXXXXXXXXX
